NODE_ENV=development

# URL the capturer screenshots
CAPTURE_URL=http://localhost:8080/

# RTSP server
RTSP_PORT=554
RTSP_PATH=/stream

# ONVIF server
ONVIF_PORT=8020
DEVICE_HOSTNAME=192.168.0.X

# Device identity
DEVICE_MAC=8D:FA:C6:EC:EB:E3
DEVICE_UUID=3150059e-4122-4416-9f69-19a2e477833c
DEVICE_MANUFACTURER=WebCapture
DEVICE_MODEL=Camera
